<div>
  <h2 id="page-heading" data-cy="MovieHeading">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.home.title">Movies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-movie"
        [routerLink]="['/movie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.home.createLabel"> Create a new Movie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="movies?.length === 0">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.home.notFound">No movies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="movies && movies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="forAdult">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.forAdult">For Adult</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="homepage">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="originalLanguage">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.originalLanguage">Original Language</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="originalTitle">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.originalTitle">Original Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="overview">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.overview">Overview</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tagline">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.tagline">Tagline</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="voteAverage">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="voteCount">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="releaseDate">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.releaseDate">Release Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastTMDBUpdate">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tmdbId">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="runtime">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.runtime">Runtime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let movie of movies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/movie', movie.id, 'view']">{{ movie.id }}</a>
          </td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.forAdult }}</td>
          <td>{{ movie.homepage }}</td>
          <td>{{ movie.originalLanguage }}</td>
          <td>{{ movie.originalTitle }}</td>
          <td>{{ movie.overview }}</td>
          <td>{{ movie.tagline }}</td>
          <td jhiTranslate="{{ 'mmdbwebApp.MovieStatus.' + movie.status }}">{{ movie.status }}</td>
          <td>{{ movie.voteAverage }}</td>
          <td>{{ movie.voteCount }}</td>
          <td>{{ movie.releaseDate | formatMediumDate }}</td>
          <td>{{ movie.lastTMDBUpdate | formatMediumDate }}</td>
          <td>{{ movie.tmdbId }}</td>
          <td>{{ movie.runtime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/movie', movie.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/movie', movie.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(movie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
