<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-my-movie-heading" data-cy="MyMovieCreateUpdateHeading" jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.home.createOrEditLabel">
        Create or edit a My Movie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.comments"
            for="field_comments"
            [ngbTooltip]="'mmdbwebApp.mmdbmsuserMyMovie.help.comments' | translate"
            >Comments</label
          >
          <input type="text" class="form-control" name="comments" id="field_comments" data-cy="comments" formControlName="comments" />
          <div *ngIf="editForm.get('comments')!.invalid && (editForm.get('comments')!.dirty || editForm.get('comments')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comments')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 4000 }"
            >
              This field cannot be longer than 4000 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.vote" for="field_vote">Vote</label>
          <input type="number" class="form-control" name="vote" id="field_vote" data-cy="vote" formControlName="vote" />
          <div *ngIf="editForm.get('vote')!.invalid && (editForm.get('vote')!.dirty || editForm.get('vote')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('vote')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('vote')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 5 }"
            >
              This field cannot be more than 5.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('vote')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.viewedDate" for="field_viewedDate"
            >Viewed Date</label
          >
          <div class="input-group">
            <input
              id="field_viewedDate"
              data-cy="viewedDate"
              type="text"
              class="form-control"
              name="viewedDate"
              ngbDatepicker
              #viewedDateDp="ngbDatepicker"
              formControlName="viewedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="viewedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.tmdbId" for="field_tmdbId">Tmdb Id</label>
          <input type="text" class="form-control" name="tmdbId" id="field_tmdbId" data-cy="tmdbId" formControlName="tmdbId" />
          <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('userId')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
