<div>
  <h2 id="page-heading" data-cy="CreditHeading">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.home.title">Credits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-credit"
        [routerLink]="['/credit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.home.createLabel"> Create a new Credit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="credits?.length === 0">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.home.notFound">No credits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="credits && credits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tmdbId">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="character">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.character">Character</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creditType">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.creditType">Credit Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="department">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.department">Department</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="job">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.job">Job</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="order">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastTMDBUpdate">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="person.name">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.person">Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="movie.title">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.movie">Movie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let credit of credits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/credit', credit.id, 'view']">{{ credit.id }}</a>
          </td>
          <td>{{ credit.tmdbId }}</td>
          <td>{{ credit.character }}</td>
          <td>{{ credit.creditType }}</td>
          <td>{{ credit.department }}</td>
          <td>{{ credit.job }}</td>
          <td>{{ credit.order }}</td>
          <td>{{ credit.lastTMDBUpdate | formatMediumDate }}</td>
          <td>
            <div *ngIf="credit.person">
              <a [routerLink]="['/person', credit.person?.id, 'view']">{{ credit.person?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="credit.movie">
              <a [routerLink]="['/movie', credit.movie?.id, 'view']">{{ credit.movie?.title }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/credit', credit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/credit', credit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(credit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
