<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.home.title">People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.home.createLabel"> Create a new Person </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.home.notFound">No people found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="birthday">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.birthday">Birthday</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deathday">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.deathday">Deathday</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="aka">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.aka">Aka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gender">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.gender">Gender</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="biography">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.biography">Biography</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="placeOfBirth">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.placeOfBirth">Place Of Birth</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="homepage">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.homepage">Homepage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastTMDBUpdate">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tmdbId">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.birthday | formatMediumDate }}</td>
          <td>{{ person.deathday | formatMediumDate }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.aka }}</td>
          <td>{{ person.gender }}</td>
          <td>{{ person.biography }}</td>
          <td>{{ person.placeOfBirth }}</td>
          <td>{{ person.homepage }}</td>
          <td>{{ person.lastTMDBUpdate | formatMediumDate }}</td>
          <td>{{ person.tmdbId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
