<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-credit-heading" data-cy="CreditCreateUpdateHeading" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.home.createOrEditLabel">
        Create or edit a Credit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.tmdbId"
            for="field_tmdbId"
            [ngbTooltip]="'mmdbwebApp.mmdbmstmdbCredit.help.tmdbId' | translate"
            >Tmdb Id</label
          >
          <input type="text" class="form-control" name="tmdbId" id="field_tmdbId" data-cy="tmdbId" formControlName="tmdbId" />
          <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.character" for="field_character">Character</label>
          <input type="text" class="form-control" name="character" id="field_character" data-cy="character" formControlName="character" />
          <div *ngIf="editForm.get('character')!.invalid && (editForm.get('character')!.dirty || editForm.get('character')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('character')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.creditType" for="field_creditType">Credit Type</label>
          <input
            type="text"
            class="form-control"
            name="creditType"
            id="field_creditType"
            data-cy="creditType"
            formControlName="creditType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.department" for="field_department">Department</label>
          <input
            type="text"
            class="form-control"
            name="department"
            id="field_department"
            data-cy="department"
            formControlName="department"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.job" for="field_job">Job</label>
          <input type="text" class="form-control" name="job" id="field_job" data-cy="job" formControlName="job" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.order" for="field_order">Order</label>
          <input type="number" class="form-control" name="order" id="field_order" data-cy="order" formControlName="order" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.lastTMDBUpdate" for="field_lastTMDBUpdate"
            >Last TMDB Update</label
          >
          <div class="input-group">
            <input
              id="field_lastTMDBUpdate"
              data-cy="lastTMDBUpdate"
              type="text"
              class="form-control"
              name="lastTMDBUpdate"
              ngbDatepicker
              #lastTMDBUpdateDp="ngbDatepicker"
              formControlName="lastTMDBUpdate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.person" for="field_person">Person</label>
          <select class="form-control" id="field_person" data-cy="person" name="person" formControlName="person">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="personOption.id === editForm.get('person')!.value?.id ? editForm.get('person')!.value : personOption"
              *ngFor="let personOption of peopleSharedCollection; trackBy: trackPersonById"
            >
              {{ personOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.movie" for="field_movie">Movie</label>
          <select class="form-control" id="field_movie" data-cy="movie" name="movie" formControlName="movie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="movieOption.id === editForm.get('movie')!.value?.id ? editForm.get('movie')!.value : movieOption"
              *ngFor="let movieOption of moviesSharedCollection; trackBy: trackMovieById"
            >
              {{ movieOption.title }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
