<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="imageData">
      <h2 data-cy="imageDataDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.detail.title">Image Data</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ imageData.id }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.imageSize">Image Size</span></dt>
        <dd>
          <span>{{ imageData.imageSize }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.imageBytes">Image Bytes</span></dt>
        <dd>
          <div *ngIf="imageData.imageBytes">
            <a (click)="openFile(imageData.imageBytes, imageData.imageBytesContentType)">
              <img
                [src]="'data:' + imageData.imageBytesContentType + ';base64,' + imageData.imageBytes"
                style="max-width: 100%"
                alt="imageData image"
              />
            </a>
            {{ imageData.imageBytesContentType }}, {{ byteSize(imageData.imageBytes) }}
          </div>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.image">Image</span></dt>
        <dd>
          <div *ngIf="imageData.image">
            <a [routerLink]="['/image', imageData.image?.id, 'view']">{{ imageData.image?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/image-data', imageData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
