<div>
  <h2 id="page-heading" data-cy="ImageHeading">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.home.title">Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image"
        [routerLink]="['/image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.home.createLabel"> Create a new Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.home.notFound">No images found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="images && images.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tmdbId">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locale">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.locale">Locale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="voteAverage">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.voteAverage">Vote Average</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="voteCount">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.voteCount">Vote Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastTMDBUpdate">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="posterMovie.title">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.posterMovie">Poster Movie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="backdropMovie.title">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.backdropMovie">Backdrop Movie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="person.name">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.person">Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let image of images; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a>
          </td>
          <td>{{ image.tmdbId }}</td>
          <td>{{ image.locale }}</td>
          <td>{{ image.voteAverage }}</td>
          <td>{{ image.voteCount }}</td>
          <td>{{ image.lastTMDBUpdate | formatMediumDate }}</td>
          <td>
            <div *ngIf="image.posterMovie">
              <a [routerLink]="['/movie', image.posterMovie?.id, 'view']">{{ image.posterMovie?.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="image.backdropMovie">
              <a [routerLink]="['/movie', image.backdropMovie?.id, 'view']">{{ image.backdropMovie?.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="image.person">
              <a [routerLink]="['/person', image.person?.id, 'view']">{{ image.person?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/image', image.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(image)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
