<div>
  <h2 id="page-heading" data-cy="MyMovieHeading">
    <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.home.title">My Movies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-my-movie"
        [routerLink]="['/my-movie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.home.createLabel"> Create a new My Movie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="myMovies?.length === 0">
    <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.home.notFound">No myMovies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="myMovies && myMovies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comments">
            <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.comments">Comments</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vote">
            <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.vote">Vote</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="viewedDate">
            <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.viewedDate">Viewed Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tmdbId">
            <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userId">
            <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.userId">User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let myMovie of myMovies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/my-movie', myMovie.id, 'view']">{{ myMovie.id }}</a>
          </td>
          <td>{{ myMovie.comments }}</td>
          <td>{{ myMovie.vote }}</td>
          <td>{{ myMovie.viewedDate | formatMediumDate }}</td>
          <td>{{ myMovie.tmdbId }}</td>
          <td>{{ myMovie.userId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/my-movie', myMovie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/my-movie', myMovie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(myMovie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
