<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-image-data-heading"
        data-cy="ImageDataCreateUpdateHeading"
        jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.home.createOrEditLabel"
      >
        Create or edit a Image Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.imageSize" for="field_imageSize">Image Size</label>
          <input type="text" class="form-control" name="imageSize" id="field_imageSize" data-cy="imageSize" formControlName="imageSize" />
          <div *ngIf="editForm.get('imageSize')!.invalid && (editForm.get('imageSize')!.dirty || editForm.get('imageSize')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('imageSize')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('imageSize')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              This field cannot be longer than 40 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.imageBytes" for="field_imageBytes"
            >Image Bytes</label
          >
          <div>
            <img
              [src]="'data:' + editForm.get('imageBytesContentType')!.value + ';base64,' + editForm.get('imageBytes')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('imageBytes')!.value"
              alt="imageData image"
            />
            <div *ngIf="editForm.get('imageBytes')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('imageBytesContentType')!.value }}, {{ byteSize(editForm.get('imageBytes')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('imageBytes', 'imageBytesContentType', 'file_imageBytes')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imageBytes"
              data-cy="imageBytes"
              (change)="setFileData($event, 'imageBytes', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="imageBytes"
            id="field_imageBytes"
            data-cy="imageBytes"
            formControlName="imageBytes"
          />
          <input
            type="hidden"
            class="form-control"
            name="imageBytesContentType"
            id="field_imageBytesContentType"
            formControlName="imageBytesContentType"
          />
          <div *ngIf="editForm.get('imageBytes')!.invalid && (editForm.get('imageBytes')!.dirty || editForm.get('imageBytes')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('imageBytes')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.image" for="field_image">Image</label>
          <select class="form-control" id="field_image" data-cy="image" name="image" formControlName="image">
            <option *ngIf="!editForm.get('image')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="imageOption.id === editForm.get('image')!.value?.id ? editForm.get('image')!.value : imageOption"
              *ngFor="let imageOption of imagesSharedCollection; trackBy: trackImageById"
            >
              {{ imageOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['image'])!.invalid && (editForm.get(['image'])!.dirty || editForm.get(['image'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['image'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
