<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="movie">
      <h2 data-cy="movieDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.detail.title">Movie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ movie.id }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.title">Title</span></dt>
        <dd>
          <span>{{ movie.title }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.forAdult">For Adult</span></dt>
        <dd>
          <span>{{ movie.forAdult }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.homepage">Homepage</span></dt>
        <dd>
          <span>{{ movie.homepage }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.originalLanguage">Original Language</span></dt>
        <dd>
          <span>{{ movie.originalLanguage }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.originalTitle">Original Title</span></dt>
        <dd>
          <span>{{ movie.originalTitle }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.overview">Overview</span></dt>
        <dd>
          <span>{{ movie.overview }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.tagline">Tagline</span></dt>
        <dd>
          <span>{{ movie.tagline }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mmdbwebApp.MovieStatus.' + movie.status }}">{{ movie.status }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.voteAverage">Vote Average</span></dt>
        <dd>
          <span>{{ movie.voteAverage }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.voteCount">Vote Count</span></dt>
        <dd>
          <span>{{ movie.voteCount }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.releaseDate">Release Date</span></dt>
        <dd>
          <span>{{ movie.releaseDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.lastTMDBUpdate">Last TMDB Update</span></dt>
        <dd>
          <span>{{ movie.lastTMDBUpdate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.tmdbId">Tmdb Id</span></dt>
        <dd>
          <span>{{ movie.tmdbId }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.runtime">Runtime</span></dt>
        <dd>
          <span>{{ movie.runtime }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbMovie.genre">Genre</span></dt>
        <dd>
          <span *ngFor="let genre of movie.genres; let last = last">
            <a [routerLink]="['/genre', genre?.id, 'view']">{{ genre.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/movie', movie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
