<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-genre-heading" data-cy="GenreCreateUpdateHeading" jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.home.createOrEditLabel">
        Create or edit a Genre
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.tmdbId" for="field_tmdbId">Tmdb Id</label>
          <input type="text" class="form-control" name="tmdbId" id="field_tmdbId" data-cy="tmdbId" formControlName="tmdbId" />
          <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.lastTMDBUpdate" for="field_lastTMDBUpdate"
            >Last TMDB Update</label
          >
          <div class="input-group">
            <input
              id="field_lastTMDBUpdate"
              data-cy="lastTMDBUpdate"
              type="text"
              class="form-control"
              name="lastTMDBUpdate"
              ngbDatepicker
              #lastTMDBUpdateDp="ngbDatepicker"
              formControlName="lastTMDBUpdate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
