<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="myMovie">
      <h2 data-cy="myMovieDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.detail.title">My Movie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ myMovie.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.comments" [ngbTooltip]="'mmdbwebApp.mmdbmsuserMyMovie.help.comments' | translate"
            >Comments</span
          >
        </dt>
        <dd>
          <span>{{ myMovie.comments }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.vote">Vote</span></dt>
        <dd>
          <span>{{ myMovie.vote }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.viewedDate">Viewed Date</span></dt>
        <dd>
          <span>{{ myMovie.viewedDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.tmdbId">Tmdb Id</span></dt>
        <dd>
          <span>{{ myMovie.tmdbId }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmsuserMyMovie.userId">User Id</span></dt>
        <dd>
          <span>{{ myMovie.userId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/my-movie', myMovie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
