<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="image">
      <h2 data-cy="imageDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.detail.title">Image</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ image.id }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.tmdbId">Tmdb Id</span></dt>
        <dd>
          <span>{{ image.tmdbId }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.locale">Locale</span></dt>
        <dd>
          <span>{{ image.locale }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.voteAverage">Vote Average</span></dt>
        <dd>
          <span>{{ image.voteAverage }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.voteCount">Vote Count</span></dt>
        <dd>
          <span>{{ image.voteCount }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.lastTMDBUpdate">Last TMDB Update</span></dt>
        <dd>
          <span>{{ image.lastTMDBUpdate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.posterMovie">Poster Movie</span></dt>
        <dd>
          <div *ngIf="image.posterMovie">
            <a [routerLink]="['/movie', image.posterMovie?.id, 'view']">{{ image.posterMovie?.title }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.backdropMovie">Backdrop Movie</span></dt>
        <dd>
          <div *ngIf="image.backdropMovie">
            <a [routerLink]="['/movie', image.backdropMovie?.id, 'view']">{{ image.backdropMovie?.title }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbImage.person">Person</span></dt>
        <dd>
          <div *ngIf="image.person">
            <a [routerLink]="['/person', image.person?.id, 'view']">{{ image.person?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
