<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="genre">
      <h2 data-cy="genreDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.detail.title">Genre</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ genre.id }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.tmdbId">Tmdb Id</span></dt>
        <dd>
          <span>{{ genre.tmdbId }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.name">Name</span></dt>
        <dd>
          <span>{{ genre.name }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbGenre.lastTMDBUpdate">Last TMDB Update</span></dt>
        <dd>
          <span>{{ genre.lastTMDBUpdate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/genre', genre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
