<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-image-heading" data-cy="ImageCreateUpdateHeading" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.home.createOrEditLabel">
        Create or edit a Image
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.tmdbId" for="field_tmdbId">Tmdb Id</label>
          <input type="text" class="form-control" name="tmdbId" id="field_tmdbId" data-cy="tmdbId" formControlName="tmdbId" />
          <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.locale" for="field_locale">Locale</label>
          <input type="text" class="form-control" name="locale" id="field_locale" data-cy="locale" formControlName="locale" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.voteAverage" for="field_voteAverage"
            >Vote Average</label
          >
          <input
            type="number"
            class="form-control"
            name="voteAverage"
            id="field_voteAverage"
            data-cy="voteAverage"
            formControlName="voteAverage"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.voteCount" for="field_voteCount">Vote Count</label>
          <input type="number" class="form-control" name="voteCount" id="field_voteCount" data-cy="voteCount" formControlName="voteCount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.lastTMDBUpdate" for="field_lastTMDBUpdate"
            >Last TMDB Update</label
          >
          <div class="input-group">
            <input
              id="field_lastTMDBUpdate"
              data-cy="lastTMDBUpdate"
              type="text"
              class="form-control"
              name="lastTMDBUpdate"
              ngbDatepicker
              #lastTMDBUpdateDp="ngbDatepicker"
              formControlName="lastTMDBUpdate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.posterMovie" for="field_posterMovie"
            >Poster Movie</label
          >
          <select class="form-control" id="field_posterMovie" data-cy="posterMovie" name="posterMovie" formControlName="posterMovie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="movieOption.id === editForm.get('posterMovie')!.value?.id ? editForm.get('posterMovie')!.value : movieOption"
              *ngFor="let movieOption of moviesSharedCollection; trackBy: trackMovieById"
            >
              {{ movieOption.title }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.backdropMovie" for="field_backdropMovie"
            >Backdrop Movie</label
          >
          <select
            class="form-control"
            id="field_backdropMovie"
            data-cy="backdropMovie"
            name="backdropMovie"
            formControlName="backdropMovie"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="movieOption.id === editForm.get('backdropMovie')!.value?.id ? editForm.get('backdropMovie')!.value : movieOption"
              *ngFor="let movieOption of moviesSharedCollection; trackBy: trackMovieById"
            >
              {{ movieOption.title }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mmdbwebApp.mmdbmstmdbImage.person" for="field_person">Person</label>
          <select class="form-control" id="field_person" data-cy="person" name="person" formControlName="person">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="personOption.id === editForm.get('person')!.value?.id ? editForm.get('person')!.value : personOption"
              *ngFor="let personOption of peopleSharedCollection; trackBy: trackPersonById"
            >
              {{ personOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
