<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="credit">
      <h2 data-cy="creditDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.detail.title">Credit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ credit.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.tmdbId" [ngbTooltip]="'mmdbwebApp.mmdbmstmdbCredit.help.tmdbId' | translate"
            >Tmdb Id</span
          >
        </dt>
        <dd>
          <span>{{ credit.tmdbId }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.character">Character</span></dt>
        <dd>
          <span>{{ credit.character }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.creditType">Credit Type</span></dt>
        <dd>
          <span>{{ credit.creditType }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.department">Department</span></dt>
        <dd>
          <span>{{ credit.department }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.job">Job</span></dt>
        <dd>
          <span>{{ credit.job }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.order">Order</span></dt>
        <dd>
          <span>{{ credit.order }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.lastTMDBUpdate">Last TMDB Update</span></dt>
        <dd>
          <span>{{ credit.lastTMDBUpdate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.person">Person</span></dt>
        <dd>
          <div *ngIf="credit.person">
            <a [routerLink]="['/person', credit.person?.id, 'view']">{{ credit.person?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbCredit.movie">Movie</span></dt>
        <dd>
          <div *ngIf="credit.movie">
            <a [routerLink]="['/movie', credit.movie?.id, 'view']">{{ credit.movie?.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/credit', credit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
