<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="person">
      <h2 data-cy="personDetailsHeading"><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.detail.title">Person</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ person.id }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.birthday">Birthday</span></dt>
        <dd>
          <span>{{ person.birthday | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.deathday">Deathday</span></dt>
        <dd>
          <span>{{ person.deathday | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.name">Name</span></dt>
        <dd>
          <span>{{ person.name }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.aka">Aka</span></dt>
        <dd>
          <span>{{ person.aka }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.gender">Gender</span></dt>
        <dd>
          <span>{{ person.gender }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.biography">Biography</span></dt>
        <dd>
          <span>{{ person.biography }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.placeOfBirth">Place Of Birth</span></dt>
        <dd>
          <span>{{ person.placeOfBirth }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.homepage">Homepage</span></dt>
        <dd>
          <span>{{ person.homepage }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.lastTMDBUpdate">Last TMDB Update</span></dt>
        <dd>
          <span>{{ person.lastTMDBUpdate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mmdbwebApp.mmdbmstmdbPerson.tmdbId">Tmdb Id</span></dt>
        <dd>
          <span>{{ person.tmdbId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
