<div>
  <h2 id="page-heading" data-cy="ImageDataHeading">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.home.title">Image Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image-data"
        [routerLink]="['/image-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.home.createLabel"> Create a new Image Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="imageData?.length === 0">
    <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.home.notFound">No imageData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="imageData && imageData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="imageSize">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.imageSize">Image Size</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="imageBytes">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.imageBytes">Image Bytes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image.id">
            <span jhiTranslate="mmdbwebApp.mmdbmstmdbImageData.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let imageData of imageData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image-data', imageData.id, 'view']">{{ imageData.id }}</a>
          </td>
          <td>{{ imageData.imageSize }}</td>
          <td>
            <a *ngIf="imageData.imageBytes" (click)="openFile(imageData.imageBytes, imageData.imageBytesContentType)">
              <img
                [src]="'data:' + imageData.imageBytesContentType + ';base64,' + imageData.imageBytes"
                style="max-height: 30px"
                alt="imageData image"
              />
            </a>
            <span *ngIf="imageData.imageBytes">{{ imageData.imageBytesContentType }}, {{ byteSize(imageData.imageBytes) }}</span>
          </td>
          <td>
            <div *ngIf="imageData.image">
              <a [routerLink]="['/image', imageData.image?.id, 'view']">{{ imageData.image?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/image-data', imageData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/image-data', imageData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(imageData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
